body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.divContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.timer {
  background-color: #333333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  padding-top: 0px;
  text-align: center;
  width: 200px; /* Ajusta el ancho según sea necesario. */
  margin: 20px;
}

h2{
  margin-top: 0px;
  margin-bottom: 90px;
  background-image: linear-gradient(to right, transparent, black, transparent);
  padding-bottom: 5px;
  background-color: rgba(0,0,0,0.1);
}

#timer1{
  background-image: url("https://i.imgur.com/nJSbSxm.png");
  background-size:cover;
  background-position: center;
}

#timer2{
  background-image: url("https://i.imgur.com/gAcyyo3.png");
  background-size:cover;
  background-position: center;
}

#timer3{
  background-image: url("https://wikimon.net/images/f/fc/ZT26_Okuwamon.jpg");
  background-size:cover;
  background-position: center;
}

h3 {
  margin-bottom: 10px;
}

input[type="number"] {
  width: 60px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 16px;
  background-color: #444444;
  color: #ffffff;
}

button {
  padding: 10px 20px;
  background-color: #999999;
  color: #333333;
  border-color: #333333;
  border-width: 2px;
  border-radius: 70%;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-right: 5px;
  margin-left: 5px;
}

button:hover {
  background-color: #666666;
}

#display1, #display2, #display3 {
  font-size: 30px;
  margin-top: 10px;
  background-color: rgba(0,0,0,0.7);
  background-image: linear-gradient(to right, transparent, red, transparent);
  border-top-width: 2px;
  border-top-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: red;
}

.numberInput{
  position: relative;
  left: 30px;
}

.numberInput0{
  position:relative;
  left: 37px;
}


